absl-py
africastalking
asgiref
astunparse
backports.entry-points-selectable
cachetools
certifi
charset-normalizer
contextlib2
dill
distlib
dj-database-url
Django==3.2.5
django-heroku
djangorestframework
etils
filelock
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
h5py
idna
importlib-metadata
importlib-resources
keras
libclang
Markdown
MarkupSafe
numpy
oauthlib
opt-einsum
packaging
Pillow
platformdirs
promise
protobuf
psycopg2
pyasn1
pyasn1-modules
pyparsing
pytz
requests
requests-oauthlib
rsa
schema
six
sqlparse==0.4.1
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-datasets==4.7.0
tensorflow-estimator==2.11.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.28.0
tensorflow-metadata==1.11.0
termcolor==2.1.1
toml==0.10.2
tqdm==4.64.1
typing-extensions==3.10.0.0
urllib3==1.26.7
virtualenv==20.10.0
Werkzeug==2.2.2
whitenoise==6.2.0
wrapt==1.14.1
zipp==3.6.0
